{% extends 'base.html' %}
{% block content %}
    <div style="max-width: 400px; margin: 0 auto; background: white; padding: 20px; border-radius: 8px;">
        <h2>Вход в систему</h2>
        <form method="POST">
            <p><input type="text" name="mail" placeholder="mail" required style="width: 100%; padding: 10px;"></p>
            <p><input type="password" name="password" placeholder="Пароль" required style="width: 100%; padding: 10px;"></p>
            <button type="submit" class="btn">Войти</button>
        </form>
    </div>
{% endblock %}