{% extends 'base.html' %}
{% block content %}
    <div style="max-width: 400px; margin: 0 auto; background: white; padding: 20px; border-radius: 8px;">
        <h2>Регистрация пользователя</h2>
        <form method="POST">
            <p><input type="text" name="username" placeholder="Имя (например: ksusha_science)" required style="width: 100%; padding: 10px;"></p>
            <p><input type="text" name="mail" placeholder="Твой email" required style="width: 100%; padding: 10px;"></p>
            <p><input type="password" name="password" placeholder="Пароль" required style="width: 100%; padding: 10px;"></p>
            <p>
                <select name="role" required style="width: 100%; padding: 10px;">

                    <option value="">Выберите роль</option>
                    <option value="user">Исследователь</option>
                    <option value="company">Компания</option>

                </select>
            </p>
            <button type="submit" class="btn btn-success w-100">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}